body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:grey;
    border-radius: 10px;
}

header {
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    background-color:brown;
    width: 80%;
    text-align: center;
    
}

div {
    border-radius: 10px;
    background-color: green;
    padding: 5px;
    width: 80%;
    height: 210px;
    text-align: center;
    justify-content: space-around;
}

#article-one {
    border-radius: 10px;
    background-color: rgba(255, 80, 49, 0.836);
    padding: 5px;
    margin: 20px;
    height: 40px;
}

#article-two {
    border-radius: 10px;
    background-color: rgba(255, 80, 49, 0.836);
    padding: 5px;
    margin: 20px;
    height: 40px;
}

#article-three {
    border-radius: 10px;
    background-color: rgba(255, 80, 49, 0.836);
    padding: 5px;
    margin: 20px;
    height: 40px;
}

aside {
    border-radius: 10px;
    background-color:slateblue;
    padding: 5px;
    margin: 5px;
    width: 80%;
    text-align: center;
}

footer {
     border-radius: 10px;
    background-color:coral;
    padding: 5px;
    margin: 5px;
    width: 80%;
    text-align: center;
}