body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:grey;
    border-radius: 10px;

}

header {
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    background-color:brown;
    width: 80%;
    text-align: center;
    position: sticky;
    top: 0;
    flex-basis: 100%;
    align-content: center;
}

div {
    border-radius: 10px;
    background-color: green;
    padding: 5px;
    text-align: center;
    justify-content: space-around;
    flex-basis: 100%;
}

#article-one {
    border-radius: 10px;
    background-color: rgba(255, 80, 49, 0.836);
    padding: 5px;
    margin: 20px;
    height: 40px;
}

#article-two {
    border-radius: 10px;
    background-color: rgba(255, 80, 49, 0.836);
    padding: 5px;
    margin: 20px;
    height: 40px;
}

#article-three {
    border-radius: 10px;
    background-color: rgba(255, 80, 49, 0.836);
    padding: 5px;
    margin: 20px;
    height: 40px;
}

aside {
    border-radius: 10px;
    background-color:slateblue;
    padding: 5px;
    margin: 5px;
    width: 100%;
    text-align: center;
}

footer {
    border-radius: 10px;
    background-color:coral;
    padding: 5px;
    margin: 5px;
    text-align: center;
    position: sticky;
    bottom: 0;
    flex-basis: 100%;
    align-content: center;
}

@media screen and (min-width: 1024px) {
    body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: larger;
        color: whitesmoke
    }
    
    header {
        order: 1;
    }

    aside {
        order: 2;
        flex-basis: 25%;
        flex: 1 0 20%;
        text-align: center;
        justify-content: center;
        align-content: center;
    }

    div {
        order: 3;
        flex-basis: 75%;
        flex: 1 0 70%;
        align-content: center;
    }

    footer {
        order: 4;
    }
}

 